.gameOver{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    gap: 50px;
    flex-direction: column;
    position: absolute;
    backdrop-filter: blur(4px);
    width: 50vw;
    height: 50vh;
    h1{
      color: #fff;
    }
 .winner{
    background: #454242;
    color: #fff;
    font-size: large;
    font-style: italic;
    width: 100%;
 }

 .rematch{
   height: 32px;
    border: 2px solid #ccc;
    border-radius: 2px;
    width: 100px;
 }

 .rematch:hover{
   background-color: #fff;
   color: #454242;
 }

}
